.navbar{
	border-radius:0;
}

.dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover{
	color:#fff;
}

.container-small{
	max-width:860px;
}

.navbar-form .form-control, .navbar-form  .form-control input, .navbar-form .form-group{
	width:400px;
	max-width:100%;
}

.panel-default>.panel-heading.answer{
	background:#fff;
}

.panel-default>.panel-heading.question{
	background:#000;
	color:#fff;
}

.panel-default>.panel-heading.question .panel-title{
	color:#fff;
}

.panel-title{
	font-weight:bold;
	font-size:24px;
}